doctype html
head
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
  script(src='javascripts/food.js')
button#burger(onclick='toggleMenu()')
  img(src='images/BurgerMenuIcon.png' style='width:30px')
#container
  #topnav
    nav
      ul
        li
          a(href='/') Home
        li.active
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        br
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()')
    img(src='images/SettingCogImage.png' style='width:40px')
#containerTwo
  #settings
    ul
      li
        | Dyslexic view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | High contrast view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | Language 
        select#dropdown
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
#Main
  select#foodDropDown(name='FoodBanks' OnChange='updateStockTable()')
    option(value="") -
    for foodPlace in foodPlaces
      option(value=foodPlace.place_name) #{foodPlace.place_name}

  br
  | Map 
  button.Dropdown
    img(src='images/BlackTriangle.png' style='width:9px')
  #map
    img(src='images/map.png' style='height:auto;width:50%')
  hr.solid
  #placeName.Title

  br
  #placeDescription.Information
    //Load description of selected place
  | Stock 
  button.Dropdown
    img(src='images/BlackTriangle.png' style='width:9px')
  #stock
    //table loads in all stock by default, but is set not to display
    //display is turned on when user selects a food place//
    for item in stock
      .row(id=item.place_name style='display: none')
        //^ used to tell what stock belongs to what place - never displayed
        .nameAndDesc
          .itemName  #{item.meal_name}
          .itemDescription #{item.meal_description}
        .expiryAndQuant
          .expiry #{item.expiry}
          .quantity #{item.quantity}

