doctype html
head
  title Food
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
  script(src='javascripts/food.js')
button#burger(onclick='toggleMenu()' role='Reveal Menu')
  img(src='images/BurgerMenuIcon.png' style='width:30px' alt ='3 individual lines alignd vertically')
#container
  #topnav(role='navigation')
    nav
      ul
        li
          a(href='/') Home
        li.active
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection(role='login')
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()' role='Reveal Settings')
    img(src='images/SettingCogImage.png' style='width:37px' alt='mechanical cog')
#containerThree(role='Title of Page')
  | Food
#containerTwo
  #settings(role='Settings')
    ul
      li
        | Dyslexic view
        label.switch
          input#dyslexicView(type='checkbox')
          span.slider.round
      li
        | High contrast view
        label.switch
          input#highContrastView(type='checkbox')
          span.slider.round
      li
        | Language 
        select#dropdown(name='FoodBanks')
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
#Main
  select#foodDropDown(name='FoodBanks' OnChange='updateStockTable()')
    option(value="") -
    for foodPlace in foodPlaces
      option(value=foodPlace.place_id) #{foodPlace.place_name}

  br
  | Map 
  button.Dropdown(onclick='toggleMap()' role='Reveal Map')
    img(src='images/BlackTriangle.png' alt ='upside down black triangle')
  #map
    img(src='images/map.png' style='height:auto;width:50%')
  .divider
    hr.solid
  #Title(role='Foodbank name')
    | PlaceA
  br
  #Information(role='Foodbank information')
    //TO DO - Load description of selected place
  
  | Stock 
  button.Dropdown(onclick='toggleStock()' role='Reveal Stock')
    img(src='images/BlackTriangle.png' alt='upside down black triangle')
  #stock(role='Show available stock')
    #rowHeads
      .itemNameHead Item
      .expiryHead Expiry date
      .quantityHead Qty
    //table loads in all stock by default, but is set not to display
    //display is turned on when user selects a food place
    for item in stock
      .row(id=item.place_id style='display: none')
        //^ used to tell what stock belongs to what place - never displayed
        .nameAndDesc
          .itemName #{item.item_name}
          .itemDescription #{item.item_description}
        .expiryAndQuant
          .expiry #{item.expiry}
          .quantity #{item.quantity}