head
  link(rel='stylesheet' href='stylesheets/style.css')
  script(src='javascripts/food.js')
#container
  #topnav
    nav
      ul
        li
          a(href='/') Home
        li.active
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn
          li
            a(href='/mybusiness') My Business
  #LoginSection
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        br
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        input#login(type='submit' value='Login')
        br
    if loggedIn
      a(href='/logout') Logout
    
#Main
  select#foodDropDown(name='FoodBanks' OnChange='updateStockTable()')
    option(value="null") -
    for foodPlace in foodPlaces
      option(value=foodPlace.place_name) #{foodPlace.place_name}

  br
  | Map 
  button.Dropdown \/
  #map
    img(src='includes/images/map.png' style='height:auto;width:50%')
  hr.solid
  #Title
    | PlaceA
  br
  #Information
    | InfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfo
    | InfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfo
    | InfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfo
    | InfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfoInfo
  | Stock 
  button.Dropdown \/
  #stock
    //table loads in all stock by default, but is set not to display
    //display is turned on when user selects a food place//
    for item in stock
      .row(id=item.place_name style='display: none')
        //^ used to tell what stock belongs to what place - never displayed
        .nameAndDesc
          .itemName.td  #{item.meal_name}
          .itemDescription.td #{item.meal_description}
        .expiryAndQuant
          .expiry.td #{item.expiry}
          .quantity.td #{item.quantity}

