doctype html
head
  title My Business
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
  script(src='javascripts/business.js')
button#burger(onclick='toggleMenu()')
  img(src='images/BurgerMenuIcon.png' style='width:30px')
#container
  #topnav
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li.active
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()')
    img(src='images/SettingCogImage.png' style='width:37px')
#containerThree
  | My Business
#containerTwo
  #settings
    ul
      li
        | Dyslexic view
        label.switch
          input#dyslexicView(type='checkbox')
          span.slider.round
      li
        | High contrast view
        label.switch
          input#highContrastView(type='checkbox')
          span.slider.round
      li
        | Language
        select#dropdown(name='FoodBanks')
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
#Main
  div
    p#myBusinessTitle #{placeInfo.place_name}
    button#cancelName(style='display:none')  Cancel
    button#saveName(style='display:none')  Save Change
    button#editName(onclick='enableEdit("myBusinessTitle", "cancelName", "saveName", this.id)') Edit
  br
  div
    p#Information #{placeInfo.place_description}
    button#cancelDesc(style='display:none') Cancel
    button#saveDesc(style='display:none')  Save Change
    button#editDesc(onclick='enableEdit("Information", "cancelDesc", "saveDesc", this.id)') Edit
  | Add Stock 
  button.Dropdown(onclick='toggleAddStock()')
    img(src='images/BlackTriangle.png')
  br
  #AddStockContainer
    #stock
      #rowHeads
        .itemNameHead Item
        .expiryHead Expiry date
        .quantityHead Qty
        .removeHead Delete
      for item in stock
        .row(id=item.id)
          .nameAndDesc
            .itemName  #{item.item_name}
            .itemDescription #{item.item_description}
          .expiryAndQuant
            .expiry #{item.expiry}
            .quantity #{item.quantity}
          button.Remove(onclick='removeStock(this.parentNode.id)') ✕

    form#AddStock(action='#' method='post')
      .form-group
        label(for='ItemName') Item Name:
        input#ItemName(name='ItemName' type='text' placeholder='Name' minlength='2' maxlength='20' size='20' required='')
      .form-group
        label(for='ItemDesc') Item Description:
        textarea#ItemDesc(name='ItemDesc' type='text' placeholder='Description' size='50' maxlength='200' required='')
      .form-group
        label(for='ExpiryDate') Expiry Date:
        input#ExpiryDate(name='ExpiryDate' type='date' required='')
      .form-group
        label(for='Quantity') Quantity:
        input#Quantity(name='Quantity' type='number' min='0' placeholder='0' max='999' required='')
      button#Add(type='submit') Add 