doctype html
head
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
  script(src='javascripts/business.js')
button#burger(onclick='toggleMenu()')
  img(src='images/BurgerMenuIcon.png' style='width:30px')
#container
  #topnav
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li.active
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        br
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()')
    img(src='images/SettingCogImage.png' style='width:40px')
#containerTwo
  #settings
    ul
      li
        | Dyslexic view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | High contrast view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | Language 
        select#dropdown
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
#Main
  // TODO get value from below.. https://stackoverflow.com/questions/3593626/get-the-text-content-from-a-contenteditable-div-through-javascript
  #placeName.Title(contenteditable='true')
    | #{placeInfo.place_name} [Edit]
  br
  .Information(contenteditable='true')
    | #{placeInfo.place_description}
    | [Edit]
  | Add Stock 
  button.Dropdown
    img(src='images/BlackTriangle.png' style='width:9px')
  br
  #stock
    for item in stock
      .row(id=item.id)
        .nameAndDesc
          .itemName  #{item.item_name}
          .itemDescription #{item.item_description}
        .expiryAndQuant
          .expiry #{item.expiry}
          .quantity #{item.quantity}
        button.Remove(onclick='removeStock(this.parentNode.id)') ✕

  form(action='#' method='post')
    .form-group
      label(for='ItemName') Item Name:
      input#ItemName(name='ItemName' type='text' placeholder='Name' minlength='2' maxlength='20' size='20' required='')
    .form-group
      label(for='ItemDesc') Item Description:
      textarea#ItemDesc(name='ItemDesc' type='text' placeholder='Description' size='50' maxlength='200' required='')
    .form-group
      label(for='ExpiryDate') Expiry Date:
      input#ExpiryDate(name='ExpiryDate' type='date' required='')
    .form-group
      label(for='Quantity') Quantity:
      input#Quantity(name='Quantity' type='number' min='0' placeholder='0' max='999' required='')
    button#Add(type='submit') Add 
